.the-curd-main-page {
  display: flex;
  width: 100%;
  --border-color: #dcdfe6;

  .w-full {
    width: 100%;
  }

  .the-table-image {
    width: 80px;
    height: 80px;
    cursor: pointer;
  }

  .the-curd-edit-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    cursor: move;
    border: dashed 1px var(--border-color);
    padding: 0 10px;
    display: none;
    animation: curd-edit-mask-move .3s ease;
  }

  .the-filter-item:hover {
    .the-curd-edit-mask {
      display: flex;
      z-index: 5;
    }
  }

  .the-curd-selected::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(121, 187, 255, 0.5);
    border: dashed var(--purple) 1px;
    border-radius: var(--border-radius);
  }

  .the-curd-editor {
    height: var(--layout-content-height);
    overflow-x: hidden;
    overflow-y: auto;

    &.is-show {
      border-left: solid var(--border-color) 1px;
      padding-left: var(--page-padding);
      padding-right: 2px;
    }

    .the-curd-editor-content {
      width: 420px;
    }
  }

  .the-curd-target-box {
    padding: 14px 18px;
    margin-bottom: 16px;
    border: dashed 1px var(--purple);
    border-radius: var(--border-radius);
    position: relative;

    &::after {
      position: absolute;
      content: "组件预览区域";
      font-size: var(--page-padding);
      background-color: #fff;
      color: var(--purple);
      padding: 0px var(--page-padding);
      left: 24px;
      top: -10px;
      animation: curd-target-text-move 3s 3;
    }

    .the-curd-form-field {
      max-width: 100%;
    }
  }

  .the-curd-example {
    border: dashed 1px var(--border-color);

    .the-curd-example-item {
      position: relative;
      width: 100%;
      min-height: 60px;
      padding: 8px var(--page-padding);
      border-top: dashed 1px var(--border-color);
      cursor: pointer;

      &:first-child {
        border-top: none;
      }

      &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        content: "";
        z-index: 2;
      }
    }
  }

  .the-curd-table-model {
    --border: 1px solid #ebeef5;

    width: 100%;
    max-height: var(--layout-content-height);
    margin-bottom: 20px;
    overflow-x: auto;

    .fake-table {
      display: inline-flex;
      flex-wrap: nowrap;
      border: var(--border);
    }

    .fake-table-item {
      border-right: var(--border);

      .el-empty {
        border-right: var(--border);
      }
    }

    .fake-table-item[draggable="true"] .fake-table-head {
      cursor: move;
    }

    .fake-table-head,
    .fake-table-cell {
      padding: var(--page-padding);
      font-size: 14px;
      line-height: 1;
      color: var(--el-text-color-regular);
      background-color: #fff;
    }

    .fake-table-head {
      min-height: 50px;
      font-weight: 600;
      color: #18181a;
      user-select: none;
      background-color: #f6f7fb;
      white-space: nowrap;
    }

    .fake-table-cell {
      min-height: 40px;
      border-top: var(--border);

      &.operation {
        min-height: 54px;
      }
    }

    .is-edit-form {
      box-sizing: content-box;
      padding-right: var(--page-padding);
      border-right: var(--border);
      border-right-style: dashed;

      .el-form-item[draggable="true"] {
        cursor: move;
        .el-form-item__label {
          cursor: move;
          user-select: none;
        }
      }

      .el-form-item {
        position: relative;
      }
    }
  }

  .the-curd-entrance {
    position: fixed;
    bottom: var(--page-padding);
    right: 0;
    z-index: 10;
    padding: 5px 0;

    &:hover {
      padding: 5px 11px;
    }
  }

  .el-input-number .el-input__inner {
    text-align: left;
  }
}

@keyframes curd-edit-mask-move {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  from {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
}

@keyframes curd-target-text-move {
  0% {
    content: "";
  }

  14% {
    content: "组";
  }

  29% {
    content: "组件";
  }

  43% {
    content: "组件预";
  }

  57% {
    content: "组件预览";
  }

  71% {
    content: "组件预览区";
  }

  85% {
    content: "组件预览区域";
  }

  100% {
    content: "组件预览区域";
  }
}

.the-curd-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(153 153 153 / 50%);
    border-radius: 3px;
  }
}

.the-curd-entrance-item {
  border-radius: var(--border-radius);
  border: dashed 1px #dcdfe6;
  padding: 14px 20px;
  transition: var(--transition);
  font-size: 14px;
  color: var(--el-text-color-regular);

  &:hover {
    border-color: var(--blue);
    color: var(--blue);
    cursor: pointer;
  }
}

.the-curd-entrance-item+.the-curd-entrance-item {
  margin-top: 16px;
}

.the-curd-option-list {
  padding-left: var(--page-padding);
  margin-left: var(--page-padding);
  border-left: 1px solid #ebeef5;
}

.the-curd-option-item {
  position: relative;
  height: 38px;
  padding: 0 var(--page-padding);
  margin-bottom: var(--page-padding);
  font-size: var(--el-font-size-base);
  line-height: 34px;
  color: var(--el-text-color-regular);
  border: dashed #dcdfe6 1px;
  border-radius: var(--border-radius);

  &:hover {
    color: var(--el-color-primary);
    background-color: var(--el-fill-color-light);
  }

  &[draggable="true"] {
    cursor: move;
    user-select: none;
  }
}

.the-curd-editor-move-enter-active,
.the-curd-editor-move-leave-active {
  transition: var(--transition);
  transform: translate3d(0, 0, 0);
}

.the-curd-editor-move-enter-from,
.the-curd-editor-move-leave-to {
  transform: translate3d(100%, 0, 0);
}

.the-group-move,
.the-group-enter-active,
.the-group-leave-active {
  transition: var(--transition);
}

.the-group-enter-from,
.the-group-leave-to {
  opacity: 0;
  transform: translate3d(0, 30px, 0);
}

.the-group-leave-active {
  position: absolute;
}

.the-thumbnail-search {
  border: #dcdfe6 solid 2px;
  padding: 10px;
  border-radius: var(--border-radius);
  --item-height: 30px;

  .the-thumbnail-search-content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--page-padding);
    .the-thumbnail-search-item {
      background-color: #edeef1;
      width: 168px;
      height: var(--item-height);
      border-radius: var(--border-radius);
    }
  }
  .the-thumbnail-search-btn {
    background-color: #9fceff;
    width: 80px;
    height: var(--item-height);
    border-radius: 2px;
    padding: 0 14px;
    i {
      font-size: 18px;
      color: #fff;
    }
  }
}

.the-thumbnail-table {
  width: 100%;
  height: 210px;
  overflow: hidden;
  display: flex;
  .the-thumbnail-table-svg {
    margin: 0 auto;
    transform: scale(2.4);
  }
}

.the-tips-icon {
  font-size: 16px;
  color: #999;
  cursor: pointer;
}

.the-filter-mask {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    z-index: 5;
    left: 0;
    top: 0;
  }

  &::after {
    position: absolute;
    content: attr(data-tips);
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: var(--blue);
  }
}

.the-curd-setting-list {
  --page-padding: 14px;
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}
