@import "./variables.scss";

// 2021/09/06 更新 element-plus 版本之后修改不了默认变量颜色了
// 升级其他 element-plus 版本会编译报错，十分无语

/* Element UI 公共变量 */
$--color-primary: $theme;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;
$--color-info: #5d5d5d;
$--button-font-weight: 400;
$--color-text-regular: #1f2d3d;
$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;
$--table-border: 1px solid#dfe6ec;

// 文档：https://element-plus.gitee.io/#/zh-CN/component/custom-theme
$--font-path: "element-plus/theme-chalk/fonts";

// Apply overrided variables in Element UI
// @import "element-plus/packages/theme-chalk/src/index";
@import "element-plus/packages/theme-chalk/src/index";
// @import "element-plus/dist/index.css";

