@import "./variables.scss";

/* Element UI 公共变量 */
$--color-primary: $theme;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;
$--color-info: #5d5d5d;
$--button-font-weight: 400;
$--color-text-regular: #1f2d3d;
$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;
$--table-border: 1px solid #dfe6ec;

// 图标库
$--font-path: "~element-ui/lib/theme-chalk/fonts";

// UI样式
@import "~element-ui/packages/theme-chalk/src/index";

