@import "./variables.scss";
@import "./mixins.scss";
@import "./common.scss";
@import "./ripple.scss";
@import "./element-icons/index.css";

/* 上下左右边距 */
@for $index from 1 through 5 {
  .mgl_#{$index}0 {
    margin-left: 10px * $index;
  }
  .mgr_#{$index}0 {
    margin-right: 10px * $index;
  }
  .mgt_#{$index}0 {
    margin-top: 10px * $index;
  }
  .mgb_#{$index}0 {
    margin-bottom: 10px * $index;
  }
  .pdl_#{$index}0 {
    padding-left: 10px * $index;
  }
  .pdr_#{$index}0 {
    padding-right: 10px * $index;
  }
  .pdt_#{$index}0 {
    padding-top: 10px * $index;
  }
  .pdb_#{$index}0 {
    padding-bottom: 10px * $index;
  }
}

// ===================== 全局动画 =====================
// 渐变+平移
.fadeSlideX-leave-active, .fadeSlideX-enter-active {
  transition: .4s all;
}

.fadeSlideX-enter-active, .fadeSlideX-leave-active {
  opacity: 1;
  transform: translate3d(0px, 0, 0);
}

.fadeSlideX-enter-from {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}

.fadeSlideX-leave-to {
  opacity: 0;
  transform: translate3d(30px, 0, 0);
}

// 面包屑
.breadcrumb-enter-active, .breadcrumb-leave-active {
  transition: .4s all;
}

.breadcrumb-enter-from, .breadcrumb-leave-to {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
}

.breadcrumb-leave-to {
  position: absolute;
}

// 渐变
.fade-enter-active, .fade-leave-active {
  transition: var(--transition);
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.the-tag {
  display: inline-block;
  padding: 6px 8px;
  border-radius: var(--border-radius);
  line-height: 1;
  font-size: 14px;
}

.the-tag + .the-tag {
  margin-left: 10px;
}

.the-tag.green { @include tagColor(#e7faf0, var(--green)); }
.the-tag.blue { @include tagColor(#e8f3ff, var(--blue)); }
.the-tag.gray { @include tagColor(#efefef, var(--gray)); }
.the-tag.red { @include tagColor(#ffeded, var(--red)); }
.the-tag.orange { @include tagColor(#fff7e6, var(--orange)); }
.the-tag.purple { @include tagColor(#f9f0ff, var(--purple)); }
.the-tag.cyan { @include tagColor(#e6fffb, var(--cyan)); }

.shadow-text {
  letter-spacing: 3px;
  line-height: 24px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-shadow: var(--text-shadow-bg) 1px 1px, var(--text-shadow-bg) 1px -1px, var(--text-shadow-bg) -1px 1px, var(--text-shadow-bg) -1px -1px, var(--text-shadow-bg) 0px 1.4px, var(--text-shadow-bg) 0px -1.4px, var(--text-shadow-bg) -1.4px 0px, var(--text-shadow-bg) 1.4px 0px, var(--text-shadow-color) 2px 2px, var(--text-shadow-color) 3px 3px, var(--text-shadow-color) 3px 1px, var(--text-shadow-color) 1px 3px, var(--text-shadow-color) 1px 1px, var(--text-shadow-color) 2px 3.4px, var(--text-shadow-color) 2px 0.6px, var(--text-shadow-color) 0.6px 2px, var(--text-shadow-color) 3.4px 2px;
  box-sizing: border-box;
  font-style: italic;
}

.the-title {
  @extend .shadow-text;
  display: inline-block;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #888;
  }
}

// 筛选搜索头部样式
.option-box {
  width: 100%;
  padding-bottom: 1px;
  border-bottom: solid #dcdfe6 1px;
  margin-bottom: 24px;
  .option-row {
    padding-top: 20px;
    &:first-child {
      padding-top: 0px;
    }
  }
  .option-item {
    display: flex;
    min-height: 32px;
    box-sizing: border-box;
    // padding: 0;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .option-label {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    font-weight: bold;
    color: #606266;
    min-width: 96px;
    white-space: break-all;
    line-height: 32px;
  }
  .short-input {
    width: 220px;
  }
  .long-input {
    width: 380px;
  }
}
.option-table {
  min-height: 500px;
  margin-bottom: 28px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

// 抖动动画样式
.apply-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 2 both;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

