@import "./element-variables.scss";

/* 一些全局样式 */

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #app{ 
    width: 100%; 
    height: 100%; 
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

a, a:focus, a:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
}

div:focus {
    outline: none;
}

label {
    font-weight: bold;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// ================== 定义过渡动画 ==================

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.28s;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}

.fade-transform-leave-active, .fade-transform-enter-active {
    transition: all .5s !important;
}

.fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

.breadcrumb-enter-active, .breadcrumb-leave-active {
    transition: all .5s;
}

.breadcrumb-enter, .breadcrumb-leave-active {
    opacity: 0;
    transform: translateX(20px);
}

.breadcrumb-move {
    transition: all .5s;
}

.breadcrumb-leave-active {
    position: absolute;
}

/* flex布局 */
.flex { display: flex; flex-wrap: wrap; }
.f1 { flex: 1; }
.f2 { flex: 2; }
.f3 { flex: 3; }

/* 垂直居中 */
.fvertical { align-items: center; }
/* 水平居中 */
.fcenter { justify-content: center; }
/* 溢出...显示 当前节点生效 */
.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* 溢出...显示 子节点生效 */
.ellipsis-1 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden; }
.ellipsis-2 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
.ellipsis-3 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }

/* 上下左右边距 */
@for $index from 1 through 5 {
    .mgl_#{$index}0 {
        margin-left: 10px * $index;
    }
    .mgr_#{$index}0 {
        margin-right: 10px * $index;
    }
    .mgt_#{$index}0 {
        margin-top: 10px * $index;
    }
    .mgb_#{$index}0 {
        margin-bottom: 10px * $index;
    }
    .pdl_#{$index}0 {
        padding-left: 10px * $index;
    }
    .pdr_#{$index}0 {
        padding-right: 10px * $index;
    }
    .pdt_#{$index}0 {
        padding-top: 10px * $index;
    }
    .pdb_#{$index}0 {
        padding-bottom: 10px * $index;
    }
}

// 日期选择样式有问题，不会自适应中间文字宽度，这里给一个合适的最小宽度
.el-date-editor .el-range-separator {
    min-width: 9%;
}
