@import "./variables.scss";

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #app{ 
    width: 100%; 
    height: 100%;
    font-family: "微软雅黑";
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

a, a:focus, a:hover, a:link, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

ul, li {
    list-style: none;
}

button {
    cursor: pointer;
}

div:focus {
    outline: none;
}

/* flex布局 */
.flex { display: flex; }
.f1 { flex: 1; }
.f2 { flex: 2; }
.f3 { flex: 3; }
/* 垂直居中 */
.fvertical { align-items: center; }
/* 水平居中 */
.fcenter { justify-content: center; }
/* 右对齐 */
.fright { flex-direction: row; justify-content: flex-end; }
/* 两端对齐 */
.fbetween { justify-content: space-between; }
/* 溢出...显示 当前节点生效 */
.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* 溢出...显示 子节点生效 */
.ellipsis-1 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden; }
.ellipsis-2 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
.ellipsis-3 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }

/* 上下左右边距 */
@for $index from 1 through 5 {
    .mgl_#{$index}0 {
        margin-left: 10px * $index;
    }
    .mgr_#{$index}0 {
        margin-right: 10px * $index;
    }
    .mgt_#{$index}0 {
        margin-top: 10px * $index;
    }
    .mgb_#{$index}0 {
        margin-bottom: 10px * $index;
    }
    .pdl_#{$index}0 {
        padding-left: 10px * $index;
    }
    .pdr_#{$index}0 {
        padding-right: 10px * $index;
    }
    .pdt_#{$index}0 {
        padding-top: 10px * $index;
    }
    .pdb_#{$index}0 {
        padding-bottom: 10px * $index;
    }
}

// ================== 定义过渡动画 ==================

.fade-enter-active, .fade-leave-active {
    @include moveTime();
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}

.fadeSlideX-leave-active, .fadeSlideX-enter-active {
    transition: all .5s !important;
}

.fadeSlideX-enter {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
}

.fadeSlideX-leave-to {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
}

.breadcrumb-enter-active, .breadcrumb-leave-active {
    transition: all .5s;
}

.breadcrumb-enter, .breadcrumb-leave-active {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
}

.breadcrumb-move {
    transition: all .5s;
}

.breadcrumb-leave-active {
    position: absolute;
}

// 日期选择样式有问题，不会自适应中间文字宽度，这里给一个合适的最小宽度
.el-date-editor .el-range-separator {
    min-width: 9%;
}

.the-tag {
    display: inline-block;
    padding: 6px 8px;
    border-radius: 2px;
    line-height: 1;
    font-size: 14px;
}

.the-tag + .the-tag {
    margin-left: 10px;
}

.the-tag.green { @include tagColor(#e7faf0, #13ce66); }
.the-tag.blue { @include tagColor(#e8f3ff, $theme); }
.the-tag.gray { @include tagColor(#efefef, #5d5d5d); }
.the-tag.red { @include tagColor(#ffeded, #ff4949); }
.the-tag.orange { @include tagColor(#fff7e6, #d46b08); }
.the-tag.purple { @include tagColor(#f9f0ff, #531dab); }
.the-tag.cyan { @include tagColor(#e6fffb, #08979c); }

.the-title {
    position: relative;
    font-size: 24px;
    color: #303133;
    font-weight: normal;
    display: inline-block;
    &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: calc(100% + 8px);
        // width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $theme;
        opacity: 0.8;
    }
    &::before {
        content: "Title ";
    }
}
