@import "./variables.scss";

@mixin menuHover {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translate3d(-100%, 0, 0);
    @include moveTime();
  }

  &:hover {
    &::after {
      transform: translate3d(0, 0, 0);
    }
  }
}

.the-layout {
  // 侧边菜单栏宽度
  --sidebar-width: 210px;
  // 侧边菜单栏关闭宽度
  // --sidebar-collapsed-width: 60px;
  // 侧边菜单栏背景色
  --menu-bg-color: #001529;
  // 菜单选项背景色
  --menu-item-bg-color: #000c17;
  // 菜单左右间距
  --menu-padding: 20px;
  // 菜单字体大小
  --menu-font-size: 14px;
  // 菜单标题高度
  --menu-title-height: 50px;
  // 菜单栏目高度
  --menu-item-height: 44px;
  // 顶部导航栏高度
  --navbar-height: 50px;
  // 页面标签栏高度
  --tags-height: 34px;
  // 侧边菜单栏文件默认颜色
  --menu-text-color: #ffffffa6;
  // 主容器内边距
  --content-padding: 12px;
  // 页面内边距
  --page-padding: 14px;

  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding-left: var(--sidebar-width);
  @include moveTime();
}

.the-layout.collapsed-sidebar {
  // padding-left: var(--sidebar-collapsed-width);
  padding-left: 0;

  .the-layout-sidebar {
    // width: var(--sidebar-collapsed-width);
    transform: translate3d(-100%, 0, 0);
  }

  .the-layout-header {
    // padding-left: var(--sidebar-collapsed-width);
    padding-left: 0;
  }
}

.the-layout-header {
  width: 100%;
  background-color: #fff;
  padding-left: var(--sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  @include moveTime();
}

.the-layout-navbar {
  width: 100%;
  height: var(--navbar-height);
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  overflow: hidden;

  .hamburger {
    width: var(--navbar-height);
    height: 100%;
    cursor: pointer;
    @include moveTime();

    &:hover {
      background: rgba(0, 0, 0, 0.08);
    }

    .svg-icon {
      width: 24px;
      height: 24px;
      @include moveTime();
    }
  }

  .hamburger-active {
    .svg-icon {
      transform: rotate(180deg);
    }
  }
}

.the-layout-sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  overflow: hidden;
  background-color: var(--menu-bg-color);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 110;
  @include moveTime();
}

.the-layout-content {
  background-color: #eee;
  padding: var(--content-padding);
  height: 100vh;
  overflow: auto;
  padding-top: calc(var(--navbar-height) + var(--content-padding));
  // TODO: 设置一个内容区域高度变量给外面页面使用
  --layout-content-height: calc(100vh - var(--navbar-height) - (var(--content-padding) * 2) - (var(--page-padding) * 2));
}

.the-layout.has-tags-view .the-layout-content {
  padding-top: calc(var(--navbar-height) + var(--tags-height) + var(--content-padding));
  // TODO: 设置一个内容区域高度变量给外面页面使用
  --layout-content-height: calc(100vh - var(--navbar-height) - var(--tags-height) - (var(--content-padding) * 2) - (var(--page-padding) * 2));
}

.the-layout-page {
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  padding: var(--page-padding);
}

.the-layout-menu {
  width: 100%;
  background-color: var(--menu-bg-color);

  .svg-icon {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }

  .the-layout-menu-title {
    width: 100%;
    height: var(--menu-title-height);
    padding: 0 var(--menu-padding);
    text-align: left;
    font-size: var(--menu-font-size);
    color: var(--menu-text-color);
    outline: none;
    border: none;
    background-color: transparent;
    overflow: hidden;
    @include moveTime();
    @include menuHover();

    &:hover {
      color: #fff;

      .the-layout-menu-arrow::before {
        background-color: #fff;
      }

      .the-layout-menu-arrow::after {
        background-color: #fff;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 4px;
      left: 0;
      background-color: var(--blue);
      height: calc(var(--menu-title-height) / 2);
      top: calc(var(--menu-title-height) / 4);
      transform: scaleY(0);
      @include moveTime();
    }
  }

  .the-layout-menu-list {
    width: 100%;
    background-color: var(--menu-item-bg-color);
    overflow: hidden;
    @include moveTime();

    .the-layout-menu-title {
      background-color: var(--menu-item-bg-color);
    }

    .the-layout-menu-item {
      padding: 0 var(--menu-padding);
      height: var(--menu-item-height);
      font-size: var(--menu-font-size);
      color: var(--menu-text-color);
      overflow: hidden;
      @include moveTime();
      @include menuHover();

      &:hover {
        color: #fff;
      }
    }
  }

  .the-layout-menu-on {
    background-color: var(--blue)  !important;
    color: #fff !important;
  }

  // .the-layout-menu-list-close {
  //     height: 0px !important;
  // }

  .the-layout-menu-hasopen {
    color: #fff;

    .the-layout-menu-arrow {
      &::before {
        background-color: #fff;
        transform: rotate(45deg) translate(2.5px);
      }

      &::after {
        background-color: #fff;
        transform: rotate(-45deg) translate(-2.5px);
      }
    }
  }

  .the-layout-menu-arrow {
    position: relative;

    &::before {
      background-color: var(--menu-text-color);
      content: "";
      position: absolute;
      width: 6px;
      height: 1.5px;
      border-radius: 2px;
      transform: rotate(-45deg) translate(2.5px);
      @include moveTime();
    }

    &::after {
      background-color: var(--menu-text-color);
      ;
      content: "";
      position: absolute;
      width: 6px;
      height: 1.5px;
      border-radius: 2px;
      transform: rotate(45deg) translate(-2.5px);
      @include moveTime();
    }
  }

  .the-layout-menu-hasactive {
    color: #fff !important;

    .the-layout-menu-arrow {
      &::before {
        background-color: #fff !important;
      }

      &::after {
        background-color: #fff !important;
      }
    }
  }

  // 首个激活的菜单栏
  .the-layout-menu-active-title {
    &::before {
      transform: scaleY(1);
    }
  }
}


.layout-breadcrumb {
  padding: 0 16px;
  position: relative;
}

.layout-breadcrumb-item {
  padding: 4px 0;
  font-size: 15px;
  color: #555;

  a {
    @include moveTime();
  }

  &:hover {
    a {
      color: var(--blue);
    }
  }

  .separator {
    padding: 0 8px;
  }
}

.layout-breadcrumb-item.last {
  color: #afaeae;

  a {
    cursor: no-drop;
  }

  &:hover {
    a {
      color: #afaeae;
    }
  }
}

.the-layout-tags {
  width: 100%;
  padding: 4px 12px 0;
  background-color: #fff;
  height: var(--tags-height);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  white-space: nowrap;
}

.the-layout-tag {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  height: 26px;
  padding: 0 6px 0 8px;
  background-color: #fff;
  border: 1px solid #d8dce5;
  color: #495060;
  @include moveTime();

  &:visited {
    color: #495060;
  }

  .close {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    border-radius: 50%;
    color: transparent;
    margin-left: 4px;
    @include moveTime();
    @include closeIcon(#495060, 8px);

    &:hover {
      background-color: #b4bccc;

      &::after {
        background-color: #fff;
      }

      &::before {
        background-color: #fff;
      }
    }
  }
}

.the-layout-tag+.the-layout-tag {
  margin-left: 8px;
}

.the-layout-tag-on {
  background-color: #42b983;
  border-color: #42b983;
  color: #fff;

  &:visited, &:focus, &:hover, &:link, &:active {
    color: #fff;
  }

  .close {
    &::after {
      background-color: #fff;
    }

    &::before {
      background-color: #fff;
    }
  }
}

.the-logo-box {
  width: 100%;
  height: 50px;
  background-color: var(--menu-item-bg-color);
  padding: 0 10px;
}

.the-logo-link {
  width: 100%;
  height: 100%;

  .the-logo {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    display: inline-block;
  }
}

.the-logo-title {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.the-layout-totop {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--blue);
  position: fixed;
  bottom: 10%;
  right: 30px;
  z-index: 100;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  @include moveTime();

  &::before, &::after {
    position: absolute;
    content: "";
    top: 46%;
    width: 14px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
  }

  &::before {
    left: calc(50% - 3px);
    transform: rotate(50deg);
  }

  &::after {
    right: calc(50% - 3px);
    transform: rotate(130deg);
  }
}

.the-layout-totop-hide {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}