:root {
  // 主题蓝色
  --blue: #1890FF;
  --yellow: #fdd835;
  // --green: #4caf50;
  // --red: #f44336;
  --green: #13ce66;
  --red: #ff4949;
  --gray: #5d5d5d;
  --orange: #d46b08;
  --purple: #531dab;
  --cyan: #08979c;
  // 矩阵节点统一使用圆角变量
  --border-radius: 2px;
}

@mixin moveTime($time: .3s) {
  transition: $time all;
}

@mixin closeIcon($color, $size, $land: 1px) {
  position: relative;

  &::before {
    @include moveTime();
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $size;
    height: $land;
    background-color: $color;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    @include moveTime();
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $size;
    height: $land;
    background-color: $color;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@mixin tagColor ($bg, $color) {
  background-color: $bg;
  color: $color;

  &:hover {
    color: $color;
  }
}