/* 
全局变量文件，注意这里最好和 element-variables.scss 分开，
因为 element-variables.scss 引入了 UI 样式，如果写在一起的话会导致
每次热更新都加载很慢
*/

// 主题色
$theme: #1890FF;

@mixin moveTime {
  transition: 0.3s all;
}

@mixin closeIcon($color, $size, $land: 1px) {
  position: relative;

  &::before {
    @include moveTime();
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $size;
    height: $land;
    background-color: $color;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    @include moveTime();
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $size;
    height: $land;
    background-color: $color;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@mixin tagColor ($bg, $color) {
  background-color: $bg;
  color: $color;

  &:hover {
    color: $color;
  }
}