:root {
  // 主题蓝色
  --blue: #1890FF;
  --yellow: #fdd835;
  // --green: #4caf50;
  // --red: #f44336;
  --green: #13ce66;
  --red: #ff4949;
  --gray: #5d5d5d;
  --orange: #f5a329;
  --purple: #531dab;
  --cyan: #08979c;
  --light-green: #42b983;
  // 矩阵节点统一使用圆角变量
  --border-radius: 2px;
  // 艺术字
  --text-shadow-bg: #333333;
  --text-shadow-color: #ffde17;
  // 统一过渡时间效果
  --transition: .3s all;
}
