/* Global scss */

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a, a:focus, a:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
}

div:focus {
    outline: none;
}

label {
    font-weight: 700;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.app-container {
    padding: 20px;
}

.components-container {
    margin: 30px 50px;
    position: relative;
}

aside {
    background: #eef1f6;
    color: #2c3e50;
    padding: 8px 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    line-height: 32px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a {
        color: #337ab7;
        cursor: pointer;

        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

.fixed-width {
    .el-button--mini {
        padding: 7px 10px;
        width: 60px;
    }
}

.filter-container {
    padding-bottom: 10px;

    .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }
}

.link-type, .link-type:focus {
    color: #337ab7;
    cursor: pointer;

    &:hover {
        color: rgb(32, 160, 255);
    }
}

.status-col {
    .cell {
        padding: 0 10px;
        text-align: center;
    }
}

.text-center {
    text-align: center
}

.sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

    .subtitle {
        font-size: 20px;
        color: #fff;
    }

    &.draft {
        background: #d0d0d0;
    }

    &.deleted {
        background: #d0d0d0;
    }
}

.no-padding {
    padding: 0px !important;
}

/* Recommended css code for vue-svgicon */

.svg-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: inherit;
    fill: none;
    stroke: currentColor;
    vertical-align: -0.15em;
}

.svg-fill {
    fill: currentColor;
    stroke: none;
}

.svg-up {
    transform: rotate(0deg);
}

.svg-right {
    transform: rotate(90deg);
}

.svg-down {
    transform: rotate(180deg);
}

.svg-left {
    transform: rotate(-90deg);
}

/* Global transition */
// See https://vuejs.org/v2/guide/transitions.html for detail

// fade
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

// fade-transform
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all .5s;
}

.fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

// breadcrumb
.breadcrumb-enter-active,
.breadcrumb-leave-active {
    transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
    opacity: 0;
    transform: translateX(20px);
}

.breadcrumb-move {
    transition: all .5s;
}

.breadcrumb-leave-active {
    position: absolute;
}