.the-filter-wrap {
  --gap: 12px;

  width: 100%;
  border-bottom: dashed #dcdfe6 1px;
  margin-bottom: var(--gap);

  .the-filter-content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  .the-filter-content,
  .the-filter-side {
    margin-bottom: var(--gap);
  }

  .the-filter-item {
    min-height: 32px;
    position: relative;

    &.is-required {
      .the-filter-label::before {
        color: var(--el-color-danger);
        content: "*";
        margin-right: 4px;
      }
    }

    &.apply-shake {
      outline: dashed 1px var(--el-color-danger);
    }
  }

  .the-filter-label {
    min-width: var(--label-width);
    width: var(--label-width);
    font-size: 14px;
    padding: 0 10px;
    font-weight: bold;
    color: #606266;
    white-space: nowrap;
  }

  .the-filter-label.the-tooltip {
    --z-index: 110; // 覆盖至 layout 层上面

    overflow: visible;
    color: #448000;
    cursor: help;
  }

  .short-value {
    width: 220px;
  }

  .long-value {
    width: 380px;
  }
}

.the-filter-wrap.label-right {
  .the-filter-label {
    justify-content: flex-end;
  }
}