.filter-wrap {
  width: 100%;
  border-bottom: solid #dcdfe6 1px;
  margin-bottom: 24px;
  .filter-content {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  .filter-content,
  .filter-side {
    margin-bottom: 20px;
  }
  .filter-item {
    min-height: 32px;
  }
  .filter-label {
    min-width: var(--label-width);
    width: var(--label-width);
    font-size: 14px;
    padding: 0 10px;
    font-weight: bold;
    color: #606266;
  }
  .short-value {
    width: 220px;
  }
  .long-value {
    width: 380px;
  }
}